
470
14
20
#333
white
black
Export Code
HTML
CSS
JS
Assets
.telephone-form-wrap {
  max-width: 470px;
  margin-right: auto;
  margin-left: auto;
  padding: 75px 40px;
  background-color: #fff;
}

.body {
  padding-top: 180px;
  background-color: #7564be;
}

.submit-button {
  display: block;
  width: 100%;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.label {
  position: absolute;
  left: 25px;
  top: 25px;
  margin-bottom: 0px;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
}

.input {
  width: 100%;
  min-height: 70px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #3b3b3b;
}

.input-block {
  position: relative;
}

.heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 27px;
  line-height: 30px;
}

.paragraph {
  margin-bottom: 40px;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  line-height: 25px;
}

.eye {
  position: absolute;
  left: auto;
  top: 20px;
  right: 20px;
  bottom: auto;
  width: 50px;
  cursor: pointer;
}

.eye_img {
  display: block;
  width: 50px;
  cursor: pointer;
}
Exports don't include native form functionality.
Host with Webflow to take full advantage of our CMS, Ecommerce, forms, and search features.
Add hosting
Manual changes to exported files may cause Webflow components to not work properly.
