*, ::before, ::after
{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans';

    box-sizing: border-box;

}


html, body{
    font-family: 'IBM Plex Sans', sans-serif; 
    background-color: rgb(37, 37, 40);
    color: aliceblue;
    display: table;
    height: 100%;
    width: 100%;
    

}

.nbr_user_connect_index
{
  width: 200px;
  margin: auto;


}
.svg_nmb
{
  width: 12px;
  position: relative;
  top: 21px;

}

.nbr
{
  padding-left: 20px;
}


.nbr_user_connect_index p
{
  padding: 0px;
}

p
{
  color: #f0f8ff;
}




a{
    text-decoration: none;
    color: aliceblue;
    
}

h1{
    color: aliceblue;
    font-size: 40px;
}

h2
{
  color: #a4f9ff;
}

h3
{
    margin-bottom: 5px;
    margin-bottom: 10px;
    color: #ff22b1;
}



@media screen and (max-width: 700px) {

  
    article{
        display: block !important;
    }

    .index_container p
    {
        font-size: 17px;
        font-weight: lighter;
    }

    .index_container
    {
    margin: auto;
    }
        

    .md1{

        max-width: 250px;
        margin-left: 160px !important;
    }

}  /*  Fin media 700 */











.cont_beta
{
    width: 200px;
    margin: auto;
    border-radius: 5px;
    box-shadow:  -2px -2px 0px 2px  rgb(120, 246, 255) ;
    border: 0.5px solid rgba(85, 85, 85, 0.352);


}


.section_signup{
    height: 90%;
   
}

.parent_form_signup{
    height: 100%;
    display: flex  ;
    justify-content: space-evenly;

    align-items: center;
    margin-top: 50px;
}



.div_img_index{
     text-align: center;
}


select
{
  width: 270px;
  padding: 10px;
  font-weight: 600;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.img_index
{
    width: 300px;
}




.title_section_signup{
text-align: center;
font-family: 'IBM Plex Sans';
color:rgb(251, 209, 255);
margin-top: 25px;

}

p,h3,h4
{
  padding:5px;
}




/*
Form
*/

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #051420;
    border-left: 5px solid #61f4ff;

    max-width: 360px;
    margin: 0 auto 50px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .u {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    cursor: pointer;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 5px;
    border: none;
}
  .submit_form
  {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: rgb(120 246 255);
    cursor: pointer;
    color: #1f2020;
    font-weight: 800;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 5px;
    border: none;

  }


  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }

  .p_advantage img
  {
    position: relative;
    top: 5px;
    width:30px
  }





.div_img_index
{
    margin-top: 50px;
}

.info_site_index
{
    text-align: center;
    font-family: 'IBM Plex Sans';
    margin-top: 10px;
}

.box{
    max-width: 70%;
    height: 90%;
    position: relative;
    box-shadow: 5px 5px 15px rgba(30, 30, 30, 0.614);
    border: 0.5px solid rgba(245, 222, 179, 0.425);

    border-radius: 20px;
    margin: 100px auto;
    overflow: hidden;
    
    
    
}


/* carrousel */



.pic-ctn {
    width: 100vw;
    height: 200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 5vh;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 25s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 5s;
  }
  img:nth-child(3) {
    animation-delay: 10s;
  }
  img:nth-child(4) {
    animation-delay: 15s;
  }
  img:nth-child(5) {
    animation-delay: 20s;
  }  
  
  img:nth-child(6) {
    animation-delay: 25s;
  }








.box::before,
.box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 500%;
    z-index: -1;
    transform: scale(1.02);
    border-radius: 15px;
    animation: animate 50s infinite;
}

.box::after{
    filter: blur(10px);
    
}



@keyframes animate{
    0% { background-position: 0 0;}
    50% { background-position:300% 0;}
    100% { background-position: 0 0;}
}




form ::placeholder{
    font-size: 1.5em;
    font-family: 'IBM Plex Sans';
  
}

article
{
    display: flex;
    justify-content: space-around;
}

article h2
{
    margin-bottom: 10px;
   
}

.img_femme_chanderland
{
    width: 300px;
}

.index_container
{
    padding: 10px;
    width: 250px;
}

.index_container img
{
    margin: auto;
    width: 200px;
}


.index_container p
{
    font-weight: lighter;
    font-size: 17px;
    

}


.md1
{
    width: 250px;
    padding: 10px;
    font-size: 17px;
    margin-left: 125px;

}

.md1 h2
{
    padding-bottom: 15px;
}

.container_button
{
    width: 400px;
    text-align: center; 
    margin: 200px auto;
}
.circle-btn
{
    outline: none;
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.circle-btn:hover
{
    transform: scale(1.2);
}

.circle-btn:active
{
    transform: scale(1.5);
    
}


.circle-btn span{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    will-change: transform;
}


.bg-svg
{
    stroke: rgb(28, 28, 28);
    stroke-width: 2;
    
}

.filled
{
    stroke: #dbdbdb;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
}




/*   FOOTER */


footer
{
height: 1px;
justify-content: space-around;
display: flex;
padding-bottom: 20px;
margin-top: 120px;
}

footer a 
{
text-decoration: none;
color: aliceblue;
font-weight: bold;
padding-left: 10px;
}
.container_footer
{
    height: auto;
    width: 100%;
}






/* FOOTER */