
.logo_navbar {
    width: 150px;
}

.avatar_navbar {
    width: 50px;
    border-radius: 50%;
    box-shadow: 3px 2px 10px #00000080;
    border: 2px solid #000000;

}

.navbar
{
    background-color: #e4e4e4 !important;
}
header {
    height: 10vh;
    background-size: cover;
}

.navbar .navbar-nav li{
    font-weight: bold;
    color: black;
    font-weight: bold !important;
}


.navbar .navbar-nav li:not(.brand){
    padding-top: 0.3em;
}

.navbar .nav-logout{
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.nav-link-brand{
    padding-left: 2em;
    padding-right: 2em;
}

.nav-link
{
    color: rgb(2, 2, 2);
    font-family: cursive;
    font-weight: bold;
}