*, ::before, ::after
{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

}


html{
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
    
    background-color: #252528;
    color: aliceblue;
    text-decoration: none;
    list-style: none;

}
.menu_computer
{
    border: 5px solid hotpink;
}

.menu_mobile
{
    display: none;
}

@media screen and (max-width: 900px) {

.menu_mobile{
    display: block;
}
    

}








.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    background: #000;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    background: #000;
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    color: #fff;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }
  
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  









.header_profil_membre
{
display: flex;
border-bottom: 0.5px solid rgb(90, 90, 90);
justify-content: space-around;
align-items: center;
margin-bottom: 20px;
padding: 20px;
background-color: rgb(77, 77, 77);
box-shadow: 5px 5px 10px rgba(110, 110, 110, 0.256);
}

/* Header */

header
{
    list-style: none;
    height: 20vh;
    width: 100%;
    background-size: cover;
    margin-bottom: 30px;
    
}


.icon_search
{
    width: 20px;
    margin-left: 5px;

}
.navbar
{

    position: absolute;
    padding: 20px;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    
}

.navbar a 
{
    color: aliceblue;
}

.logo_nav
{
    font-size: 2em;
    font-weight: bold;
    color: aliceblue;
}


.navbar .nav-links ul
{

    display: flex;
    text-decoration: none;
    align-items: baseline;


}
.navbar .nav-links ul a
{
   color: aliceblue;
   text-decoration: none;
   
   

}




.navbar .nav-links ul li
{

margin: 0 20px;

}


.navbar .nav-links ul li.active a
{

color: rgb(32, 156, 209);
font-weight: 600;

}

.navbar .menu_humb_nav
{
    display: none;
    width: 50px;
    position: absolute;
    right:1px ;
    top: 15px;

}

.to_go_header
{
    height: 50px;
    width: 50px;
    border: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 1px;
    bottom: 10px;
    cursor: pointer;

}




@media screen and (max-width: 900px) {


    
.to_go_header
{
    display: block;
}


    .navbar
    {
        padding: 0;
    }

    .navbar .menu_humb_nav
    {
        display: block;
        
    }
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(12, 12, 12, 0.603);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition:all 0.5s ease-in-out ;
        
    }

  
.mobile-menu .filter_nav
{
    color: aliceblue;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10px;


}



    .nav-links.mobile-menu
{
    margin-left: 0;
    font-weight: bold;
    

}


.mobile-menu .icon_search
{
   width: 100px;
}

.nav-links.mobile-menu ul a
{
    color: black;

}

.mobile-menu span {
    display: block;
}

    .nav-links ul 
    {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .navbar .nav-links ul li 
    {
        margin: 10px 0;
        font-size: 1.2em;
        font-weight: 600;
        list-style: none;
        border-bottom: 1px solid rgba(74, 74, 74, 0.826);
    }

    .logo_nav
    {

    position: absolute;
    top: 15px;
    left: 20px;
    }

}




/* Header */





.hero_index
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.container_profil_membre 
{
    margin: 10px;
    width: 200px;
    height: auto;    
    border-bottom-right-radius: 10px;
    box-shadow: 3px 5px 5px #ffffff0a;

   

}
.svg_conect
{
        height: 12px;
        margin-top: 5px;
    
}
.container_profil_membre[data-sexe=Homme]
{
    border: 0.5px solid #a4f9ff;
    height: 260px;
    margin: 10px;
}
.container_profil_membre[data-sexe=Femme]
{
    border: 0.5px solid #ff7dd2;
    height:260px
    
}

.container_profil_membre[data-sexe=Homme]:hover
{
    border: 0.5px solid #4df3ff;
    transition: 500ms;
}

.container_profil_membre[data-sexe=Femme]:hover
{
    border: 0.5px solid #ff22b1;
    box-shadow: 3px 2px 3px rgba(220, 110, 220, 0);
    transition: 500ms;
}

@media screen and (max-width: 500px){
    
    .container_profil_membre{
        
        margin: 10px;
        width: 150px;
        height: 200px;
    }
}




.container_profil_membre a
{
    text-decoration: none;
}
.container_profil_avatar img{
    width: 120px;
    height: 120px;
    border-radius: 100px;

}
.container_profil_avatar
{
    text-align: center;
    margin-top: 15px;

 }

.container_profil_info
{
    display: flex;
    margin: auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 3px;
}


.container_profil_info_pseudo
{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    color: aliceblue;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    


}

.age_profil_membre{
    font-size: 10px ;
    font-weight: 100;
    
}



.dpt_age{
    display: flex;
}

.title_card_choix
{
    text-align: center;
    text-shadow: 1px 2px 20px #ea00ff91;
    color: #ea00ff;
}
.container_card_profil_choix *{
    color: aliceblue;
    width: 150px;


}

.container_card_profil_choix
{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    height: 220px;

    /* défilement inertiel pour safari mobile Ios  */
    -webkit-overflow-scrolling: touch;

    /* alignement avec les cards profils lors de la fin du défilement 
    La régle scroll snap points x deamnde au carrousel de s'aligner au début de la premiére
     image (à 0px de la largeur du carrousel) puis de venir s'aligner tous les 150px 
     à partir de là, soit la largeur des cards profils.*/

    -ms-scroll-snap-type: mandatory !important;
    scroll-snap-type: mandatory !important;
    -ms-scroll-snap-points-x: snapInterval(0px, 150px) !important;
    scroll-snap-points-x: snapInterval(0px, 150px) !important;
    
}

.container_card_profil_choix h2
{
    padding-left: 10px;
}

.container_card_profil_choix li{

    display: inline-block;
    padding: 0;
    margin: 0;
}




.container_card_profil_choix .profil_desire{
    text-align: left;
    padding-left: 10px;
    font-size: smaller;
    color: #ea00ff;

}

.container_card_profil_choix .container_profil_membre
{
    height:200px;
}
.container_card_profil_choix img
{
    width: 90px;
    height: 90px;
}
.container_profil_info_dtp{
    color: aliceblue;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 5px 0px 0px 7px;
    font-size: 12px;
    height: 55px;

}



.container_profil_info_descr 
{
    width: 150px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    padding: 0px 0px 0px 7px;
    font-family: 'IBM Plex Sans', sans-serif;

    color: rgb(179, 179, 179);
    text-align: start;

}

.container_profil_info_descr:hover
{

    color: aliceblue;
    transition: 500ms;

}



/* Loader Wrapper*/
.loader-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* loader */