*,
::before,
::after {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

}


html {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {

    background-color: #252528 !important;
    color: aliceblue;
    text-decoration: none;
    list-style: none;

}

.title_profil_membre {
    color: black !important;

}








.close {
    width: 100%;
    text-align: right;

}

@media screen and (max-width: 900px) {



    .to_go_header {
        display: block;
    }



}



.icon_search {
    width: 20px;
    margin-left: 5px;

}


.btn_filter {
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background: no-repeat;
    border: 0.5px solid #138dff57;
    margin: 20px 20px 0px 0px;

}

.btn_filter:hover {
    color: #02adbc;


}

.hero_index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}



.container_profil_membre {
    margin: 10px;
    width: 200px;
    height: auto;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 5px 5px #ffffff0a;



}

.svg_conect {
    height: 12px;
    margin-top: 5px;

}

.container_profil_membre[data-sexe=Homme] {
    border: 0.5px solid #a4f9ff;
    height: 260px;
    margin: 10px;
}

.container_profil_membre[data-sexe=Femme] {
    border: 0.5px solid #ff7dd2;
    height: 260px
}

.container_profil_membre[data-sexe=Homme]:hover {
    border: 0.5px solid #4df3ff;
    transition: 500ms;
}

.container_profil_membre[data-sexe=Femme]:hover {
    border: 0.5px solid #ff22b1;
    box-shadow: 3px 2px 3px rgba(220, 110, 220, 0);
    transition: 500ms;
}

@media screen and (max-width: 300px) {

    .container_profil_membre {

        margin: 10px;
        width: 150px;
        height: 200px;
    }

}




.container_profil_membre a {
    text-decoration: none;
}

.container_profil_avatar img {
    width: 100%;
    height: 120px;
}

.container_profil_avatar {
    text-align: center;
    width: 100%;

}

.container_profil_info {
    display: flex;
    margin: auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3px;
    text-transform: lowercase;
}

.container_profil_info_pseudo {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
    color: aliceblue;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    background-color: #005d66;

}

.container_profil_info_pseudo h2 {
    font-size: 1.5em;
    margin: 5px 0px;
    text-transform: capitalize;
    padding-left: 7px;
}

.age_profil_membre {
    font-size: 10px;
    font-weight: 100;

}



.dpt_age {
    display: flex;
}

.title_card_choix {
    text-align: center;
    text-shadow: 1px 2px 20px #ea00ff91;
    color: #ea00ff;
}

.container_card_profil_choix * {
    color: aliceblue;
    width: 150px;


}

.container_card_profil_choix {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;

    /* défilement inertiel pour safari mobile Ios  */
    -webkit-overflow-scrolling: touch;

    /* alignement avec les cards profils lors de la fin du défilement 
    La régle scroll snap points x deamnde au carrousel de s'aligner au début de la premiére
     image (à 0px de la largeur du carrousel) puis de venir s'aligner tous les 150px 
     à partir de là, soit la largeur des cards profils.*/

    -ms-scroll-snap-type: mandatory !important;
    scroll-snap-type: mandatory !important;
    -ms-scroll-snap-points-x: snapInterval(0px, 150px) !important;
    scroll-snap-points-x: snapInterval(0px, 150px) !important;


    border-top: 1px solid rgba(255, 49, 49, 0.5);
    border-right: 1px solid rgba(0, 255, 255, 0.5);
    border-bottom: 1px solid rgba(57, 255, 20, 0.5);
    border-left: 1px solid rgba(255, 255, 113, 0.5);

}

.container_card_profil_choix h2 {
    padding-left: 10px;
    font-size: 1.5em !important;
}

.container_card_profil_choix li {

    display: inline-block;
    padding: 0;
    margin: 0;
}




.container_card_profil_choix .profil_desire {
    text-align: left;
    padding-left: 10px;
    font-size: smaller;
    color: #ea00ff;

}

.container_card_profil_choix .container_profil_membre {
    height: 210px;
}

.container_card_profil_choix img {
    width: 90px;
    height: 90px;
}

.container_profil_info_dtp {
    color: aliceblue;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'IBM Plex Sans', sans-serif;
    padding-left: 7px;
    font-size: 12px;
    height: 55px;

}



.container_profil_info_descr {
    width: 150px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    padding: 0px 0px 0px 7px;
    font-family: 'IBM Plex Sans', sans-serif;

    color: rgb(179, 179, 179);
    text-align: start;

}

.container_profil_info_descr:hover {

    color: aliceblue;
    transition: 500ms;

}



/* Loader Wrapper*/
.loader-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* loader */

/* pagination */
#pagination {
    padding-top: 20px;
}

#pagination ul {
    display: flex;
    justify-content: center;
}

#pagination ul li {
    list-style: none;
}

#pagination ul li a {
    display: block;
    padding: 8px 10px;
    margin: 1px 3px;
    color: #717171;
    background-color: #f5f5f5;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px;
    background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
    font-size: smaller;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}

#pagination ul li a:hover {
    border-color: #fff;
    background-color: #fdfdfd;
    background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);
}

#pagination ul li a.active {
    color: #f2f2f2;
    background-color: #676767;
    border-color: #505050;
    background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c);
    box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
}