*, ::before, ::after
{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans';

    box-sizing: border-box;

}


html, body{
    font-family: 'IBM Plex Sans', sans-serif; 
    background-color: rgb(37, 37, 40);
    color: aliceblue;
    display: table;
    height: 100%;
    width: 100%;
    

}



h3{
    text-align: center;
    margin-bottom: 20px;
}

.nav_menu_reception a
{
color: aliceblue;
text-decoration: none;
font-weight: bold;
border-bottom: 1px solid wheat;
margin: 5px;
}

.nav_menu_reception
{
    text-align: center;

}

.icones_reception
{
    width: 400px;
}

.container_msg
{
    border-bottom: 1px solid rgba(63, 63, 63, 0.409);
    margin: 10px;
}

.msg
{
        width: 300px;
        box-shadow: 5px 5px 1px #f5deb321;
        border: 0.5px solid #fff9cd;

}

.message
{
    overflow: hidden;
    text-overflow: ellipsis;
}

 a
{

    color: aliceblue;
    font-size: 17px;
    text-decoration: none;

}

.container_icone
{
    text-align: center;
}