*, ::before, ::after
{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans';

    box-sizing: border-box;

}


body{
    background-color: rgb(37, 37, 40);
    color: aliceblue;
    display: table;
    height: 100%;
    width: 100%;
    

}



.slider
{
    text-align: center;
}

.slider img
{
    max-width: 250px;
}


h3
{
    text-align: center;
}

.icone_description
{

    width: 25px;
    position: relative;
    top: 5px;
    right: 5px;
}



.description_1
{
    width: 200px;
    position: relative;
    top: 120px;
    left: 350px;
}

.description_2
{
    width: 200px;
    position: relative;
    left: 950px;
    bottom: 150px;
    text-align: left;
}

.text_descr
{
    text-align: left;
    color: rgb(208 208 208);
}
@media screen and (max-width:1200px){

    .description_1
    {
        display: none;
    }

    .description_2
    {
        display: none;
    }
    
}