*, ::before, ::after
{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans';

    box-sizing: border-box;

}


html, body{
    font-family: 'IBM Plex Sans', sans-serif; 
    background-color: rgb(37, 37, 40);
    color: aliceblue;
    display: table;
    height: 100%;
    width: 100%;
    

}
