.counter_container
{
    display: flex;
    border: 5px solid red;
    justify-content: center;
    min-height: 10vh;
    width: 100%;
    height: 200px;
    align-items: center;
    flex-direction: column;
    /*background-color: hsl(231, 15%, 18%);*/
    margin: 25px auto;
    border-radius: 5px;
    background-image: url("https://www.pexels.com/fr-fr/photo/photo-de-nuages-pendant-la-journee-2088205/");
    background-size: cover;
    background-position: center;
}
.counter_container p
{
    margin: 10px;
}

#counter
{
    font-size: 2em;
    transform: rotate(-8deg);
    font-size: 2.1em;
    margin: 0;
    filter: blur(8px);
    transition: 2s;
}

