.counter_container
{
    display: flex;
    border: 5px solid red;
    justify-content: center;
    min-height: 10vh;
    align-items: center;
    flex-direction: column;
    background-color: #282a36;
    margin: 25px auto;
}
.counter_container p
{
    margin: 10px;
}

#counter
{
    font-size: 2em;
    transform: rotate(-8deg);
    font-size: 2.1em;
    margin: 0;
    filter: blur(8px);
    transition: 2s;
}

