.counter_container
{
    display: flex;
    border: 5px solid red;
    justify-content: center;
    min-height: 10vh;
    align-items: center;
    flex-direction: column;
    background-color: #282a36;
}


#counter
{
    font-size: 2em;
}

