*, ::before, ::after
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}


html{
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
    
    background-color: rgb(37, 37, 40);
    color: aliceblue;
}

form a{

text-decoration: underline;
color: aliceblue;
font-weight: 900;
}

form input
{
    background: none;
    border: 0.5px solid rgb(231, 231, 231);

}