*, ::before, ::after
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}


html{
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
    
    background-color: rgb(37, 37, 40);
    color: aliceblue;
}

form a{

text-decoration: underline;
color: aliceblue;
font-weight: 900;
}