*
{
    font-family: 'IBM Plex Sans';

    box-sizing: border-box;
}



/*   FOOTER */


footer
{
height: 1px;


}

footer a 
{
    text-decoration: none;
color: aliceblue;
font-weight: bold;
font-size: 5em;
}
.container_footer
{
    height: auto;
    width: 100%;
}






/* FOOTER */