*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.lien_compte_user p
{
color: aliceblue;
text-decoration: none;
cursor: pointer;
}


.box button{

    margin: 10px 0px 10px 0px;

}

.box{
    width: 50%;
    height: 400px;
    background-color: rgb(108, 106, 106);
    position: relative;
}

.box::before

.box::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: brown;
    width: 100%;
    height: 100%;
}

.parent_form_signup{
    height: 100%;
    display: flex  ;
    justify-content: center;
    align-items: center;
}
.section_signup{
    border: 5px solid red;

}