*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.lien_compte_user p
{
color: aliceblue;
text-decoration: none;
cursor: pointer;
}


.form_signup button{

    margin: 10px 0px 10px 0px;

}

.form_signup{
    width: 50%;
    height: 400px;
    background-color: rgb(108, 106, 106);
}

.parent_form_signup{
    height: 100%;
    display: flex  ;
    justify-content: center;
    align-items: center;
}
.section_signup{
    border: 5px solid red;

}