*, ::before, ::after{
box-sizing: border-box;
margin: 0;
padding: 0;

}

body{
    font-family: Arial;
    height: 100vh;
}



.acceuil{
    height: 100%;
    width: 100%;
    background-color: rgb(62, 62, 62);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
}


.acceuil h1{

    font-size: 120px;
    margin-bottom: 200px;
}

/* loader */
.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}