button
{



}

.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;

    
}

.modal-content
{
    background-color: rgb(54, 54, 54);
    margin:  15% auto;
    border: 1px solid black;
    width: 90%;
    height: 300px;
    
}

.age_min_search
{
    width: 50px;
}




.modal-content p 
{
    text-align: center;
    font-size: 50px;
    
}

.close
{
    color: rgb(16, 15, 16);
    position: relative;
    float: right;
    cursor: pointer;
    font-size: 50px;
    padding: 0 10px 0 0 ;
    font-weight: bold;
}