*, ::before, ::after
{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans';

    box-sizing: border-box;

}


html, body{
    font-family: 'IBM Plex Sans', sans-serif; 
    color: aliceblue;
  

}








.icone_welcome
{
    width: 200px;
}