*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}


.header_profil_membre
{
display: flex;
justify-content: center;
margin: 20px;
}

.header_profil_membre
{
    transition: 500ms;
    border-bottom: 1px solid black;

}

.profil_link a
{
text-decoration: none;
color: #333;
font-size: 1.2em;
font-weight: bold;

}

.profil_link a:hover{

    color: rgb(0, 0, 0);
    transition: 50ms;
}