*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}


.header_profil_membre
{
display: flex;
border-bottom: 0.5px solid black;
justify-content: center;
margin: 20px;
}


.profil_link a
{
text-decoration: none;
color: #333;
font-size: 1.2em;
font-weight: bold;
font-family: 'IBM Plex Sans';


}

.profil_link a:hover{

    color: rgb(0, 0, 0);
    transition: 50ms;
}

/*
CONTAINER PROFIL MEMBRES
*/
.hero_index
{
    display: flex;
    flex-wrap: wrap;
}

.user_container
{

    margin: 2px;
    width: 300px;
    height: 350px;
    margin: 5px;
    box-shadow: 2px 3px 5px black;
    border-right: 10px;
}
.user_container a{
    text-decoration: none;
}

.user_container img
{
    width: 100%;
    height: 300px;
}

.user_info
{
    display: flex;
    height: auto;
    color: rgb(0, 0, 0);
    font-size:22px;
    font-weight: 700;
    font-family: 'IBM Plex Sans';
    justify-content: space-between;

}

.age{
    margin-right: 15px;
}

.user_info div{
    margin-left: 5px;
}



.user_info span{

font-size: 17px;
color: #333;

}

