*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}


.header_profil_membre
{
display: flex;
justify-content: center;
border-bottom: 1px solid black;
margin: 20px;
}

.profil_link a
{
text-decoration: none;
color: #333;
font-size: 1.2em;
font-weight: bold;

}