*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}


.header_profil_membre
{
display: flex;
border-bottom: 0.5px solid black;
justify-content: center;
margin: 20px;
}


.profil_link a
{
text-decoration: none;
color: #333;
font-size: 1.2em;
font-weight: bold;
font-family: 'IBM Plex Sans';


}

.profil_link a:hover{

    color: rgb(0, 0, 0);
    transition: 50ms;
}

/*
CONTAINER PROFIL MEMBRES
*/
.hero_index
{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid red;
}

.user_container
{

    border: 5px solid green;
    margin: 2px;
    width: 250px;
    height: 350px;
}

.img_membre{

    width: 100%;
    height: 70%;
    border: 5px solid gold;
}

.img_membre img{
    border: 5px solid rebeccapurple;
    width: 100%;
}