body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.section_profil_membre{

    text-align: center;
    margin-top: 50px;
}


.profil_membre H2{

    font-family: 'IBM Plex Sans', sans-serif;
    size: 22px;
    font-weight: 700px;

}

.descr_profil
{

    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400px;
    font-size: 14px;
    color: #333;

    
}

.created_profil
{
    color: #333;
    font-size: 12px;
    font-family: 'IBM Plex Sans', sans-serif;


}

.profil_membre img{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    box-shadow: 5px 5px 7px rgba(141, 141, 141, 0.324);
    margin-top: 5px;

}

.profil_membre img:hover{

    transition: 500ms;
    box-shadow: 2px 2px 5px rgba(141, 141, 141, 0.324);

}

.info_profil{

    margin: 25px;
    
}



.image_album_profil{

    display: flex;
    flex-wrap: wrap;

}

.image_album_profil div{

    width: 200px;

}

.image_album_profil div img{

    width: 100%;
    box-shadow: 3px 5px 5px rgba(146, 146, 146, 0.397);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(135, 134, 134, 0.651);
}

.image_album_profil img:hover{

    transition: 400ms;
    box-shadow: 1px 3px 3px rgba(179, 176, 176, 0.397);


}

/*
MESSAGERIE 
*/

.message_profil_user{

    width: 400px;
    margin: 10px;
    box-shadow: 3px 3px 5px rgba(173, 173, 173, 0.352);
    border-radius: 20px;

    
}

.comment_profil{

    overflow: scroll;
    height: 250px;
    box-shadow: 5px 3px 30px rgba(129, 129, 129, 0.315);
    margin-top: 25px;

}
.ption_profil_user_connect{

    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ption_profil_user_connect div{
    margin-bottom: 35px;
}





/*
OPTION PROFIL
*/


.option_profil_user_connect a
{
   text-decoration: none;
   border: 1px solid black;
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 14px;
   color: #1a1a1a;
   padding: 9px 15px;
   margin: 2px;

}

.option_profil_user_connect a:hover
{
background-color: #1a1a1a;
color: aliceblue;
box-shadow: 2px 3px 5px rgba(150, 150, 150, 0.484);
border: none;
}

