*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

body{
    

}

.header_profil_membre
{
display: flex;
border-bottom: 0.5px solid black;
justify-content: center;
margin: 20px;
}

.hero_index
{
    display: flex;
    flex-wrap: wrap;
}



.container_profil_membre
{
    margin: 10px;
    width: 200px;
    height: auto;

    border-bottom-right-radius: 10px;
    box-shadow: 3px 2px 5px rgba(95, 95, 95, 0.447);
    padding: 10px 16px;
}

.container_profil_membre a
{
    text-decoration: none;
}
.container_profil_membre img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
}


.container_profil_avatar
{
    text-align: center;
 }

.container_profil_info
{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}


.container_profil_info_pseudo
{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
}
.container_profil_info_age
{
    color: rgb(19, 19, 19);
    font-weight: bold;
    font-size: 12px;
    margin: 10px 0px 0px 20px ;
    font-family: 'IBM Plex Sans', sans-serif;

    
    
}


