*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

body{
    
    background-color: rgb(30, 30, 30);
    color: aliceblue;
}

.header_profil_membre
{
display: flex;
border-bottom: 0.5px solid black;
justify-content: center;
margin: 20px;
}

.hero_index
{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 500){

    .hero_index{
        display: block;
    }
}





.container_profil_membre
{
    margin: 10px;
    width: 200px;
    height: auto;
    border: 0.5px solid rgba(255, 255, 255, 0.084);
    border-bottom-right-radius: 10px;
    box-shadow: 3px 2px 3px rgba(110, 110, 110, 0.066);
    
    
}

@media screen and (max-width: 400px){
    
    .container_profil_membre{
        
        margin: 10px;
        width: 150px;
        height: auto;
        border: 0.5px solid rgba(255, 255, 255, 0.084);
        border-bottom-right-radius: 10px;
        box-shadow: 3px 2px 3px rgba(110, 110, 110, 0.066);
        
    }
}

.container_profil_membre a
{
    text-decoration: none;
}
.container_profil_membre img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
}


.container_profil_avatar
{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
 }

.container_profil_info
{
    display: flex;
    margin: auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
}


.container_profil_info_pseudo
{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 17px;
    color: aliceblue;
}
.container_profil_info_age
{
    color: aliceblue;
    font-weight: bold;
    font-size: 12px;
    margin: 15px 0px 0px 20px ;
    font-family: 'IBM Plex Sans', sans-serif;
}


