*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

body{
    
    background-color: rgb(30, 30, 30);
    color: aliceblue;
}

.header_profil_membre
{
display: flex;
border-bottom: 0.5px solid rgb(90, 90, 90);
justify-content: center;
margin: 20px;
}
.profil_link a
{

font-size: 20px;
text-decoration: none;
color: rgb(131, 131, 131);
font-weight: bold;
font-family: 'IBM Plex Sans', sans-serif;

}
.profil_link a:hover
{

    color: aliceblue;
    font-size: 22px;
    transition: 300ms;

}

.hero_index
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.container_profil_membre
{
    margin: 10px;
    width: 200px;
    height: auto;
    border: 0.5px solid rgba(255, 255, 255, 0.084);
    border-bottom-right-radius: 10px;
    box-shadow: 3px 2px 3px rgba(110, 110, 110, 0.066);
    
    
}

.container_profil_membre:hover
{
    box-shadow: 3px 2px 3px rgba(110, 110, 110, 0);

}

@media screen and (max-width: 500px){
    
    .container_profil_membre{
        
        margin: 10px;
        width: 150px;
        height: auto;
        border: 0.5px solid rgba(255, 255, 255, 0.084);
        border-bottom-right-radius: 10px;
        box-shadow: 3px 2px 3px rgba(110, 110, 110, 0.066);
        
    }
}









.container_profil_membre a
{
    text-decoration: none;
}
.container_profil_membre img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

.container_profil_membre:hover
{
    border: 0.5px solid rgba(255, 255, 255, 0.432);
    transition: 500ms;
}
.container_profil_avatar
{
    text-align: center;
    margin-top: 15px;
 }

.container_profil_info
{
    display: flex;
    margin: auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 3px;
    border: 5px solid yellow;
}


.container_profil_info_pseudo
{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 17px;
    color: aliceblue;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}


.container_profil_info_age
{
    color: rgb(179, 179, 179);
    font-weight: bold;
    font-size: 12px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: end;
}

.dpt_age{
    border: 5px solid fuchsia;
    display: flex;
}

.container_profil_info_descr 
{
    width: 150px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;

    color: rgb(179, 179, 179);
    margin-top: 5px;
    text-align: center;

}

.container_profil_info_descr:hover
{

    color: aliceblue;
    transition: 500ms;

}