body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.section_profil_membre{

    text-align: center;

}

.profil_membre{

    border: 5px solid black;
}

.comment_profil{

    background-color: black;
}