*, ::before, ::after
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}


html{
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
    
    background-color: rgb(37, 37, 40);
    color: aliceblue;
    text-decoration: none;
    list-style: none;

}
.header_profil_membre
{
display: flex;
border-bottom: 0.5px solid rgb(90, 90, 90);
justify-content: space-around;
align-items: center;
margin-bottom: 20px;
padding: 20px;
background-color: rgb(77, 77, 77);
box-shadow: 5px 5px 10px rgba(110, 110, 110, 0.256);
}

/* Header */

header
{
    list-style: none;
    height: 100vh;
    width: 100vw;
    background-image: url(icones/alien.png);
    background-size: cover;
}



.navbar
{

    border: 5px solid green;
    position: absolute;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;


}

.navbar a 
{
    color: aliceblue;
}

.logo_nav
{
    font-size: 2em;
    font-weight: bold;
}


.navbar .nav-links ul
{

    display: flex;
    border: 5px solid red;

}


.navbar .nav-links ul li
{

margin: 0 20px;

}


.navbar .nav-links ul li.active a
{

color: rgb(32, 156, 209);
font-weight: 600;

}

.navbar .menu_humb_nav
{
    display: none;
    width: 35px;
    position: absolute;
    right:20px ;
    top: 15px;

}




@media screen and (max-width: 900px) {

    .navbar
    {
        padding: 0;
    }

    .navbar .menu_humb_nav
    {
        display: block;
        
    }
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(246, 246, 246, 0.603);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition:all 0.5s ease-in-out ;
        
    }

    .nav-links.mobile-menu
{
    margin-left: 0;

}

    .nav-links ul 
    {
        display: flex;
        flex-direction: column;
    }

    .navbar .nav-links ul li 
    {
        margin: 25px 0;
        font-size: 1.2em;
        font-weight: 600;
        list-style: none;
    }

    .logo_nav
    {

    position: absolute;
    top: 15px;
    left: 20px;

    }

}







/* Header */





.hero_index
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.container_profil_membre
{
    margin: 10px;
    width: 200px;
    height: auto;
    border: 0.5px solid rgba(255, 255, 255, 0.084);
    border-bottom-right-radius: 10px;
    box-shadow: 3px 2px 3px rgba(110, 110, 110, 0.066);
    
    
}

.container_profil_membre:hover
{
    box-shadow: 3px 2px 3px rgba(110, 110, 110, 0);

}

@media screen and (max-width: 500px){
    
    .container_profil_membre{
        
        margin: 10px;
        width: 150px;
        height: auto;
        border: 0.5px solid rgba(255, 255, 255, 0.084);
        border-bottom-right-radius: 10px;
        box-shadow: 3px 2px 3px rgba(110, 110, 110, 0.066);
        
    }
}


.icone_maps_profil{
    font-size: 3px;
}






.container_profil_membre a
{
    text-decoration: none;
}
.container_profil_membre img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

.container_profil_membre:hover
{
    border: 0.5px solid rgba(255, 255, 255, 0.432);
    transition: 500ms;
}
.container_profil_avatar
{
    text-align: center;
    margin-top: 15px;
 }

.container_profil_info
{
    display: flex;
    margin: auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 3px;
}


.container_profil_info_pseudo
{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 17px;
    color: aliceblue;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    


}

.age_profil_membre{
    font-size: 12px ;
    font-weight: 100;
    
}



.dpt_age{
    display: flex;
}

.container_profil_info_dtp{
    color: aliceblue;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 5px;

}

.container_profil_info_descr 
{
    width: 150px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    padding: 5px;
    font-family: 'IBM Plex Sans', sans-serif;

    color: rgb(179, 179, 179);
    margin-top: 5px;
    text-align: center;

}

.container_profil_info_descr:hover
{

    color: aliceblue;
    transition: 500ms;

}