*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

body{
    
    background-color: rgb(30, 30, 30);
    color: aliceblue;
}

h3{
    text-align: center;
    margin-bottom: 20px;
}

.nav_menu_reception a
{
color: aliceblue;
text-decoration: none;
font-weight: bold;
border-bottom: 1px solid wheat;
margin: 5px;
}

.nav_menu_reception
{
    text-align: center;

}

.icones_reception
{
    width: 400px;
}

.container_msg
{
    border-bottom: 1px solid rgba(63, 63, 63, 0.409);
    margin: 10px;
}

 a
{

    color: aliceblue;
    font-size: 17px;
    text-decoration: none;

}

.container_icone
{
    text-align: center;
}