.mask {
  display: block;
  overflow: visible;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.slide {
  width: 100%;
  text-align: center;
  cursor: -webkit-grab;
}

.slider {
  position: relative;
  top: 50%;
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: #131313;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.img {
  display: inline-block;
}

.left-arrow {
  width: 25%;
  background-image: -webkit-gradient(linear, left top, right top, from(#000), to(transparent));
  background-image: linear-gradient(90deg, #000, transparent);
}

.right-arrow {
  width: 25%;
  background-image: -webkit-gradient(linear, right top, left top, from(#000), to(transparent));
  background-image: linear-gradient(270deg, #000, transparent);
}

.slide-nav {
  font-size: 9px;
  line-height: 20px;
}

.body {
  background-color: rgb(28, 27, 27);
}

.section {
  display: block;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

html.w-mod-js *[data-ix="new-interaction-2"] {
  opacity: 0.5;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}