body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: rgb(37, 37, 40);
  color: aliceblue;}

.benefit-block-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: -20px;
  padding: 15px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.15);
  font-size: 18px;
  font-weight: 800;
}

.main-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 75px 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._1-3-grid {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._1-3-grid._50-p {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.faq-wrap {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.video-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.video-link:hover {
  opacity: 1;
  color: #7300de;
}

.spacer-25px {
  width: 25px;
  height: 25px;
}

.icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7300de;
}

.icon.tp {
  margin-top: 2px;
}

.hero-image-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px none #000;
  border-radius: 20px;
  background-image: url('../images/pexels-daria-rem-1977047.jpg');
  background-position: 50% 100%;
  background-size: cover;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.nav-1 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.trusted-by-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 10px;
}

.logo {
  width: 160px;
}

.p-m-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;
  margin-left: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-image: linear-gradient(52deg, #7300de, #07f);
}

.faq-answer-inner {
  overflow: visible;
  padding: 0px 20px 20px;
}

.counter {
  color: #7300de;
  font-size: 55px;
  line-height: 1;
  font-weight: 800;
}

.benefit-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: -20px;
  padding: 15px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.15);
  font-size: 18px;
  font-weight: 800;
}

.header-wrap-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 850px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: left;
}

._1-2-grid {
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 50px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-1-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1050px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-1-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1050px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-wrap-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.form-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 20px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.footer-1 {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 75px 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.content-wrap-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

._3six5-link {
  position: fixed;
  left: 20px;
  bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 250px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  border: 1px solid #7300de;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.05);
  color: #000;
  text-align: center;
  text-decoration: none;
}

.purple-span {
  color: #7300de;
}

.faq-answer {
  overflow: hidden;
  height: auto;
}

._1-4-grid {
  width: 100%;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-field {
  min-height: 55px;
  margin-right: -70px;
  margin-bottom: 0px;
  padding-right: 90px;
  padding-left: 25px;
  border: 1px none #000;
  border-radius: 100px;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: aliceblue;
  font-weight: 800;
}

.section-1-image-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px none #000;
  border-radius: 20px;
  background-image: url('../images/pexels-nina-uhlíková-725255.jpg');
  background-position: 50% 100%;
  background-size: cover;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1050px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.main-container.centre {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.spacer-50px {
  width: 50px;
  height: 50px;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 40px;
  line-height: 1.3;
  font-weight: 800;
}

.nav-spacer {
  width: 100%;
  height: 75px;
}

.plus {
  position: absolute;
  width: 2px;
  height: 38%;
  border-radius: 20px;
  background-color: #fff;
}

.minus {
  position: absolute;
  width: 38%;
  height: 2px;
  border-radius: 20px;
  background-color: #fff;
}

.logo-small {
  width: 50px;
}

.spacer-blank {
  width: 0px;
  height: 0px;
  font-size: 1px;
}

.faq-item {
  border-style: none;
  border-width: 1px;
  border-color: #212121;
  border-radius: 25px;
  background-color: transparent;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.content-wrap-stats {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-radius: 20px;
  background-color: #fff;
  text-align: left;
}

.cta-2-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1050px;
  padding: 75px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 25px;
  background-color: #7300de;
  background-image: linear-gradient(25deg, rgba(0, 0, 0, 0.45), hsla(0, 0%, 100%, 0));
  color: #fff;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 800;
}

.form-block-1 {
  width: 100%;
  margin-bottom: 0px;
}

.paragraph {
  margin-bottom: 0px;
  color: aliceblue;
  font-size: 16px;
  line-height: 1.6;
}

.paragraph.white {
  color: hsla(0, 0%, 100%, 0.9);
}

.icon-purple {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 39px;
  height: 39px;
  padding: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #7300de;
  color: #fff;
}

.header-wrap-centre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 850px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
}

.button {
  padding: 15px 30px 16px;
  border: 1px none #000;
  border-radius: 100px;
  background-color: #7300de;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.button:hover {
  background-color: #07f;
  opacity: 1;
  color: #fff;
}

.button.nav {
  padding: 9px 25px;
  background-color: #7300de;
  font-size: 16px;
}

.button.nav:hover {
  background-color: #07f;
}

.button.white {
  background-color: #fff;
  color: #000;
}

.button.white:hover {
  opacity: 0.8;
}

.tb-logo {
  width: 100px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.tb-logo:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.product-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #000;
  font-size: 23px;
  font-weight: 800;
  text-decoration: none;
}

.product-block:hover {
  background-color: #7300de;
  color: #fff;
}

.faq-question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  box-shadow: 2px 3px 5px wheat;
  padding: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.button-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.trusted-by-text {
  margin-right: 10px;
  font-weight: 800;
}

@media screen and (max-width: 991px) {
  ._1-3-grid {
    grid-row-gap: 25px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hero-image-block {
    background-position: 50% 50%;
  }

  ._1-2-grid {
    grid-row-gap: 50px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  ._1-4-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .section-1-image-block {
    background-position: 50% 50%;
  }
}

@media screen and (max-width: 767px) {
  .benefit-block-1 {
    margin-right: 20px;
  }

  .benefit-block-2 {
    margin-right: 20px;
  }
}

@media screen and (max-width: 479px) {
  .benefit-block-1 {
    font-size: 4.5vw;
  }

  .faq-wrap {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .video-link {
    font-size: 4vw;
  }

  .hero-image-block {
    min-height: 300px;
    padding-bottom: 20px;
    padding-left: 20px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .logo {
    width: 150px;
  }

  .p-m-wrap {
    margin-left: 40px;
  }

  .benefit-block-2 {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 4.5vw;
  }

  .footer-1-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  ._1-4-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .section-1-image-block {
    min-height: 300px;
    padding-bottom: 20px;
    padding-left: 20px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .h2 {
    font-size: 30px;
    color: aliceblue;
  }

  .h1 {
    font-size: 40px;
    color: aliceblue;
  }

  .paragraph {
    font-size: 16px;
  }

  .button {
    font-size: 4vw;
  }

  .button.nav {
    padding: 9px 20px 10px;
  }

  .product-block.hide-mobile {
    display: none;
  }
}

#w-node-_9405ed90-d4dd-fe62-1ea0-c0d48dedca6f-5f5a7ead {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9405ed90-d4dd-fe62-1ea0-c0d48dedca7c-5f5a7ead {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9405ed90-d4dd-fe62-1ea0-c0d48dedca89-5f5a7ead {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9405ed90-d4dd-fe62-1ea0-c0d48dedca96-5f5a7ead {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9405ed90-d4dd-fe62-1ea0-c0d48dedcaa3-5f5a7ead {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9405ed90-d4dd-fe62-1ea0-c0d48dedcab0-5f5a7ead {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

