#instafeed {
    display: flex;
    flex-wrap: wrap;
  }
  #instafeed a {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
    background: white;
  }
  @media only screen and (min-width: 580px) {
    #instafeed a {
      width: 25%;
    }
  }
  #instafeed a img {
    display: block;
    width: 100%;
  }
  .demo_name {
      letter-spacing: -4px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000;
      text-decoration: none;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #fff;
      -webkit-text-stroke: 2px #ccc;
    -webkit-text-fill-color: transparent;
  }
  