#instafeed {
    display: flex;
    flex-wrap: wrap;
  }
  #instafeed a {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
    background: white;
  }
  @media only screen and (min-width: 580px) {
    #instafeed a {
      width: 25%;
    }
  }
  #instafeed a img {
    display: block;
    width: 100%;
  }
  .demo_name {
      letter-spacing: -4px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000;
      text-decoration: none;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #fff;
      -webkit-text-stroke: 2px #ccc;
    -webkit-text-fill-color: transparent;
  }
  
  .form-control {
	position: relative;
	margin: 20px 0;
  margin-bottom:60px;
}
.form-control input {
	border: 0;
	border-bottom: 2px solid #333;
	padding: 15px 0;
	display: block;
	font-size: 18px;
	width: 100%;
	transition: 0.1s ease-in;
}
.form-control input:focus, 
.form-control input:valid {
	border-bottom-color: darksalmon;
	outline: none;
}
.form-control input:focus + label span ,
.form-control input:valid + label span{
	color: darksalmon;
	transform: translateY(-30px);
}
.form-control label {
	position: absolute;
	top: 0px;
	left: 0;
}
.form-control label span {
	display: inline-block;
	font-size: 18px;
	min-width: 5px;
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}