.slider img{
    width: 500px;
    

}


.slider
{
    text-align: center;
    border: 5px solid red;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin: 150px auto;


}
.slides
{
    width: calc(500px * 3);
    animation: glisse 10s infinite ease;
}
.slide
{
    float: left;
}

@keyframes glisse
{
    0%
    {
        transform: translateX(0);
    }
    
    33%
    {
        transform: translateX(-500px);
    }
    
    66%
    {
        transform: translateX(-1000px);
    }
    
    100%
    {
        transform: translateX(0);
    }


}


@media screen and (max-width: 700px) {


}
