body{
    background-color: black;
}

h5{
    color:  aliceblue;
}

p{
    color: aliceblue;
}

.carousel-indicators
{
    color: aliceblue;
}


.carousel-inner img
{
margin: auto;
max-width: 300px;
}