.slider img{
    width: 500px;
    box-shadow: 10px 10px 50px rgb(239, 239, 239);
    

}


.slider
{
    text-align: center;
    width: 500px;
  
    height: 350px;
    overflow: hidden;
    margin: 150px auto;


}
.slides
{
    width: calc(500px * 6);
    animation: glisse 2s infinite ease;
}
.slide
{
    float: left;
}

@keyframes glisse
{
    0%
    {
        transform: translateX(0);
    }
    
    25%
    {
        transform: translateX(-500px);
    }
    
    50%
    {
        transform: translateX(-1000px);
    }
    
    75%
    {
        transform: translateX(0);
    }  
    
    100%
    {
        transform: translateX(0);
    }


}


@media screen and (max-width: 700px) {


}
