body{
    background-color: rgb(38, 36, 36);
}

h5{
    color:  aliceblue;
}

p{
    color: aliceblue;
}

.carousel-indicators
{
    color: aliceblue;
}


.carousel-inner img
{
margin: 100px auto;
max-width: 300px;
}