body{
    background-color: rgb(38, 36, 36);
}

h5{
    color:  aliceblue;
}

p{
    color: aliceblue;
}

.carousel-indicators
{
    color: aliceblue;
}

.carousel-caption
{
    border: 5px solid red;
}


.carousel-inner img
{
margin: 100px auto;
max-width: 300px;
}

@media screen and (max-width: 700px) {


    .carousel-inner img
    {
        max-width: 200px!important;
        margin: 10px auto;
    }


}