.container{
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    padding: 15px;
    width: 120px;
    
}

.body_connect{

    width: 300px;
    height: 300px;
    border: 1px black solid;
}