*{
padding: 0;
margin: 0;    
}


.hero_index
/*

/////////////////////////// FEUILLE signup ////////////////// FEUILLE signup //////////

*/

body{
   

}

header{

    background-color: rgb(47, 47, 47);    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid red;
    
}
 
header button{

    margin: 5px;
}

header a {

    font-weight: bold;
    text-decoration: none;
    border: 0.5px solid rgba(245, 222, 179, 0.299);
    padding: 15px 25px ;
    border-radius: 20px;
    color: aliceblue;
}

footer{

    background-color: rgb(47, 47, 47);
    width: 100%;
    height: 5%;

}

.section_signup{
    width: 100%;
    height: 100%;
background-color: rgb(18, 18, 18);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}


.title_section_signup{

background-color: rgba(240, 248, 255, 0.445) ;
backdrop-filter: blur(0.5px);
border-radius: 10px;

}

.title_section_signup h2{

    color: rgb(24, 24, 24);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    font-weight: bold;

}

.form_signup{

    width: 300px;
    box-shadow: 5px 10px 20px rgba(58, 58, 58, 0.091);
    border-radius: 20px;
    border: 0.5px solid rgba(245, 222, 179, 0.299);
    color:white;
    font-weight: 600;
    text-align: center;
    padding:5px;
    

    background-color: rgba(240, 248, 255, 0.445) ;
backdrop-filter: blur(0.5px);
border-radius: 10px;
    
}

.form{

    border: 5px solid rgb(72, 72, 72);
     
}



.form_signup input{

    width: auto;
}

.login_signup{

    color: aliceblue;
    text-decoration: none;
}

.span_login_signup{

    color: rgb(0, 215, 65);
    font-weight: bold;
    font-size: 1.1em;

}


.mb-3{

    margin: 10px;
}

@media screen and (max-width: 400px) {
    .mb-3 input {
      width: 120px;
    }
  }




/*

/////////////////////////// FEUILLE editProfil ////////////////// FEUILLE editProfil //////////

*/
  .textarea_edit_profil{

    border-radius: 5px;
    border: none;
    box-shadow: 5px 3px 10px rgba(90, 90, 90, 0.338);


  }

  .container_editprofil{

    border: 5px solid red;

  }

  .edit_profil_container{

    border: 5px solid black;
    width: 50%;
  }





/*

/////////////////////////// FEUILLE profil ////////////////// FEUILLE profil //////////

*/

.section_profil{


  background-color: rgb(18, 21, 32);  
  height: 100%;
  color: aliceblue;

}

  .container_profil{

    border-radius: 10px;
    box-shadow: 4px 3px 10px rgba(109, 109, 109, 0.139);
    width: 50%;
    border: 0.5px solid rgba(0, 0, 0, 0.272);
    padding: 15px 5px;
    cursor: pointer;
    text-align: center;

  }

  .container_profil img{

    width: 200px;
    height: 200px;
    border-radius: 190px;
    border: 0.5px solid rgb(130, 130, 130);
    box-shadow: 2px 2px 8px rgb(141, 141, 141);
  }

  .container_profil img:hover{

    box-shadow: 1px 1px 5px rgb(129, 129, 128);
  }

  .container_profil:hover{

    box-shadow: 1px 1px 1px rgba(179, 179, 179, 0.139);

  }

  .container_profil span{

text-decoration: none;
color: rgb(255, 255, 255);
background-color: rgb(18, 18, 18) ;
  }


  .profil-container{

border: 5px solid red;
text-align: center;
display: flex;
justify-content: center;
  }

.pseudo_profil{

  font-size: 1.2em;
  font-weight: bold;
 
}

