.header_connect{
    height: 10%;
}



.section_connect{

    height: 85%;
    display: flex;
    justify-content: center;
    background-image: url('img/url('https://example.com/bck.png');');


    
}

.container_connect{

    background-color: beige;
}


div{

    border: 5px solid rgb(28, 34, 121);
}