*{
padding: 0;
margin: 0;    
}



/*

/////////////////////////// FEUILLE signup ////////////////// FEUILLE signup //////////

*/

.hero_index{


  border: 10px solid rgb(0, 64, 255);
  display: flex;
  flex-wrap: wrap;
}

.user_container{

  width: 250px;
  border: 5px solid yellow;
}

.user_container img{

  border: 2px solid black;
  width: 100%;
  height:350px   ;
}

.user_info{

  border: 5px solid green;
  color: black;
  text-align: center;
}

.user_info a{

  text-decoration: none;
  font-weight: 800;
  color: black;
  font-size: 1.1em;
}




.container_img img{

  border: 0.5px solid rgb(73, 71, 71);
  width: 300px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(51, 48, 48, 0.196);

}

.container_img img:hover{

 
  box-shadow: 2px 2px 5px rgba(51, 48, 48, 0.196);

}










/*

/////////////////////////// FEUILLE signup ////////////////// FEUILLE signup //////////

*/

header{

    background-color: rgb(47, 47, 47);    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid red;
    
}
 
header button{

    margin: 5px;
}

header a {

    font-weight: bold;
    text-decoration: none;
    border: 0.5px solid rgba(245, 222, 179, 0.299);
    padding: 15px 25px ;
    border-radius: 20px;
    color: aliceblue;
}

footer{

    background-color: rgb(47, 47, 47);
    width: 100%;
    height: 5%;

}

.section_signup{
    width: 100%;
    height: 100%;
background-color: rgb(18, 18, 18);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}


.title_section_signup{

background-color: rgba(240, 248, 255, 0.445) ;
backdrop-filter: blur(0.5px);
border-radius: 10px;

}

.title_section_signup h2{

    color: rgb(24, 24, 24);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    font-weight: bold;

}

.form_signup{

    width: 300px;
    box-shadow: 5px 10px 20px rgba(58, 58, 58, 0.091);
    border-radius: 20px;
    border: 0.5px solid rgba(245, 222, 179, 0.299);
    color:white;
    font-weight: 600;
    text-align: center;
    padding:5px;
    

    background-color: rgba(240, 248, 255, 0.445) ;
backdrop-filter: blur(0.5px);
border-radius: 10px;
    
}

.form{

    border: 5px solid rgb(72, 72, 72);
     
}



.form_signup input{

    width: auto;
}

.login_signup{

    color: aliceblue;
    text-decoration: none;
}

.span_login_signup{

    color: rgb(0, 215, 65);
    font-weight: bold;
    font-size: 1.1em;

}


.mb-3{

    margin: 10px;
}

@media screen and (max-width: 400px) {
    .mb-3 input {
      width: 120px;
    }
  }




/*

/////////////////////////// FEUILLE editProfil ////////////////// FEUILLE editProfil //////////

*/
  .textarea_edit_profil{

    border-radius: 5px;
    border: none;
    box-shadow: 5px 3px 10px rgba(90, 90, 90, 0.338);


  }

  .container_editprofil{

    border: 5px solid red;

  }

  .edit_profil_container{

    border: 5px solid black;
    width: 50%;
  }


.photo_profil_profil{

  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 20px;
}


/*

/////////////////////////// FEUILLE profil ////////////////// FEUILLE profil //////////

*/

.section_profil_membre{

  border: 5px solid red;
}

  .container_profil{

    border-radius: 10px;
    box-shadow: 4px 3px 10px rgba(109, 109, 109, 0.139);
    width: 50%;
    border: 0.5px solid rgba(0, 0, 0, 0.272);
    padding: 15px 5px;
    cursor: pointer;
    text-align: center;

  }

  .input_submit_form_profil{

padding: 20px;

  }

  .container_profil img{

    width: 200px;
    height: 200px;
    border-radius: 190px;
    border: 0.5px solid rgb(130, 130, 130);
    box-shadow: 2px 2px 8px rgb(141, 141, 141);
  }

  .container_profil img:hover{

    box-shadow: 1px 1px 5px rgb(129, 129, 128);
  }

  .container_profil:hover{

    box-shadow: 1px 1px 1px rgba(179, 179, 179, 0.139);

  }

  .container_profil span{

text-decoration: none;
color: rgb(255, 255, 255);
background-color: rgb(18, 18, 18) ;
  }


.pseudo_profil{

  font-size: 1.2em;
  font-weight: bold;
 
}

.container_album_profil{

  box-shadow: 3px 5px 10px rgb(154, 151, 151);
  margin: 20px;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  
 
}


.container_album_profil img{

  border: 20px solid black;
  box-shadow: 2px 3px 5px rgb(183, 175, 175);
  margin: 5px;
  width: 150px;


}

section{

  border: 3px solid red;
}



.link_profil_connect{

text-align: center;
margin: 5px 0px 20px 0px;
}

.link_profil_connect a{

  text-decoration: none;
  font-size: 1.2em;
  padding: 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.link_profil_connect a:hover{

  color: brown;

}

.parent_form_album_photo{


  display: flex;
  width: 300px;
}

.parent_form_album_photo div{

  margin: 10px;
}

.option_profil_user_connect a{

  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: 5px;

}