.header_connect{
    height: 10%;
}



.section_connect{

    height: 85%;
    display: flex;
    justify-content: center;

    background-color: rgb(206, 158, 251);

    
}

.container_connect{

    background-color: beige;
}

div{

    border: 1px solid black;
}