*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    width: 100%;
    height: 100vh;
}

.acceuil{
    width: 100%;
    height: 100%;
    background-color: rgb(47, 47, 47);
    background: url(images/1242x2688.jpg);
    background-size: cover;

}